@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --bg-color: whitesmoke; /* default background color */
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Ubuntu', sans-serif;
  line-height: 1.2;

  background-image: url('https://images.unsplash.com/photo-1543352634-a1c51d9f1fa7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
}

h1 {
  text-align: center;
  margin-bottom: 4rem;
}

ul {
  padding: 0;
}

.areaMealsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.areaMealsList li {
  background: var(--bg-color);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.26);
  height: 10rem;
  width: 10rem;

  transition: transform 0.2s;
  overflow: hidden;

  cursor: pointer;
}

h3 {
  width: 100%;
  margin: 4.3rem auto;
  font-size: 1.4rem;
}

.areaMealsList li:hover {
  transform: scale(1.07);
}

#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
