@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  margin: 0 auto;
  padding: 0;

  font-family: 'Ubuntu', sans-serif;
  line-height: 1.2;

  background: url('https://images.unsplash.com/photo-1547516508-4c1f9c7c4ec3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2080&q=80')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo {
  width: 5rem;
  border-radius: 10px;

  cursor: pointer;
}

.navbar-nav {
  justify-content: space-around !important;
}

/* .nav-item {
  background-color: #4caf50;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
} */

a.nav-link.active:hover {
  color: #71d474;
}

h1 {
  text-align: center;
  margin: 4rem 0;
}

header img {
  width: 13rem;
  border-radius: 10px;
}

.categoriesMealsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;

  list-style: none;
}

.categoriesMealsList li {
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.26);
  padding: 16px;

  transition: transform 0.2s;
  overflow: hidden;

  cursor: pointer;
}

.categoriesMealsList li:hover {
  transform: scale(1.05);
}

h3 {
  width: 100%;
  margin: 1rem auto;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Queries */

/* Laptops and desktops with a minimum width of 1024px: */
@media only screen and (max-width: 1319px) {
  .categoriesMealsList {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Tablets with a maximum width of 1023px: */
@media only screen and (max-width: 1023px) {
  .categoriesMealsList {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
}

/* Mobile devices with a maximum width of 767px: */
@media only screen and (max-width: 701px) {
  .categoriesMealsList {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0;
  }

  header img {
    width: 12rem;
  }
}

/* Small mobile devices with a maximum width of 479px: */
@media only screen and (max-width: 525px) {
  .categoriesMealsList {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.7rem;
    width: 95%;
  }
  header img {
    width: 8rem;
  }

  h1 {
    font-size: 1.5em;
    margin: 2rem 0;
  }
}

@media only screen and (max-width: 361px) {
  .categoriesMealsList {
    width: 95%;

    gap: 0.5rem;
  }
  header img {
    width: 6rem;
  }

  h3 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 281px) {
  header img {
    width: 8rem;
  }
  .categoriesMealsList {
    grid-template-columns: 1fr;

    width: 85%;
  }
}
