h1 {
  text-align: center;
  margin-bottom: 4rem;
}

.mealsListByCountry {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;

  text-align: center;

  list-style: none;
}

header img {
  width: 18rem;
  border-radius: 10px;
}

.mealsListByCountry li {
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.26);
  padding: 16px;

  transition: transform 0.2s;
  overflow: hidden;
}

.mealsListByCountry li:hover {
  transform: scale(1.05);
}

#search-btn {
  cursor: pointer;
}

#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
