@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --bg-color: whitesmoke; /* default background color */
}

body {
  width: 90%;
  margin: 0 auto;
  padding: 0;

  font-family: 'Ubuntu', sans-serif;
  line-height: 1.2;

  background: url('https://images.unsplash.com/photo-1547516508-4c1f9c7c4ec3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2080&q=80')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
  margin-bottom: 4rem;
  letter-spacing: 2px;
}

ul {
  padding: 0;
}

.areaMealsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  width: 100%;
  text-align: center;
}

.areaMealsList li {
  background: var(--bg-color);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.26);
  height: 10rem;
  width: 10rem;
  margin: 0 auto;
  transition: transform 0.2s;
  overflow: hidden;

  cursor: pointer;

  transition: all 0.3s;
}

.areaMealsList li:hover {
  transform: scale(1.09);
}

h3 {
  width: 100%;
  margin: 4.3rem auto;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Queries */

/* Laptops and desktops with a minimum width of 1024px: */
@media only screen and (max-width: 1319px) {
  .allOptions {
    scale: 80%;
  }

  .meal-category,
  .category-country {
    margin-right: 1rem;
  }

  .generate-content {
    grid-template-columns: 1fr 1fr;
  }
}

/* Tablets with a maximum width of 1023px: */
/* @media only screen and (max-width: 1023px) {
  .ingredientsList {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
} */

/* Mobile devices with a maximum width of 767px: */
@media only screen and (max-width: 746px) {
  .allOptions {
    flex-direction: column;
  }
  .allOptions a {
    width: 45%;
    margin: 0.7rem auto;
  }

  .generate-content {
    grid-template-columns: 1fr;

    width: 75%;
    margin: 0 auto;
  }
}

/* Small mobile devices with a maximum width of 479px: */
@media only screen and (max-width: 375px) {
  .generate-content {
    grid-template-columns: 1fr;

    width: 95%;
    margin: 0 auto;
  }
}
