@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.2;

  background: url('https://images.unsplash.com/photo-1605210057707-8ac4e88bad73?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,
.form-content {
  text-align: center;
  padding-bottom: 1rem;
}

.generate-content {
  text-align: center;
  width: 50%;
  margin: 2rem auto;
}

.recipe-content {
  display: flex;
}

article.recipe {
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.26);
  padding: 16px;
  height: 50rem;
  width: 50%;
  margin: 0 auto;

  display: flex;

  flex-direction: column;
  justify-content: space-between;
}
h4 {
  margin-bottom: 1rem;
}

header img {
  width: 18rem;
  border-radius: 10px;
}

.details p,
.ingredients {
  text-align: center;
  margin-top: 1rem;
}

p {
  text-align: justify;
}

.ingredients {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  list-style: none;
  text-align: left;
  padding-left: 2rem;
}

#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Queries */

/* Laptops and desktops with a minimum width of 1024px: */
@media only screen and (max-width: 1319px) {
  header img {
    width: 15rem;
  }
}

/* Tablets with a maximum width of 1023px: */
@media only screen and (max-width: 1023px) {
  .generate-content {
    width: 90%;
  }

  article.recipe {
    width: 65%;
  }

  header img {
    width: 17rem;
  }
}

/* Mobile devices with a maximum width of 767px: */
@media only screen and (max-width: 767px) {
  .generate-content {
    width: 80%;
  }

  article.recipe {
    width: 85%;
  }

  header img {
    width: 17rem;
  }
}

/* Small mobile devices with a maximum width of 479px: */
@media only screen and (max-width: 525px) {
  .generate-content {
    width: 90%;
  }

  article.recipe {
    width: 95%;
  }

  header img {
    width: 15rem;
  }
}

@media only screen and (max-width: 361px) {
  header img {
    width: 6rem;
  }
}

@media only screen and (max-width: 281px) {
  header img {
    width: 8rem;
  }
}
