@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  margin: 0;
  padding: 0;

  font-family: 'Ubuntu', sans-serif;
  line-height: 1.2;

  background: url('https://images.unsplash.com/photo-1543352634-a1c51d9f1fa7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo {
  width: 5rem;
  border-radius: 10px;

  cursor: pointer;
}

h1,
.form-content {
  text-align: center;
  margin: 5rem;
}

.allOptions {
  display: flex;
  justify-content: space-around;

  margin: 5rem 1rem;
}

.allOptions a {
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.26);
  padding: 8rem;

  text-decoration: none;
  font-size: 2rem;
  color: white;

  cursor: pointer;
  transition: all 0.3s;
}

.allOptions a:hover {
  transform: scale(1.09);
}

.meal-category {
  background: url('./images/recipeCategories.jpg');
  background-size: cover;

  max-width: none;
}
.category-country {
  background: url('./images/mealCountry.jpg');
  background-size: cover;
}
.meal-ingredients {
  background: url('./images/ingredients.jpg');
  background-size: cover;
}

.generate-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.recipe-content {
  display: flex;
}

.recipe {
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.26);
  padding: 16px;

  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

header img {
  width: 18rem;
  border-radius: 10px;
}

.details {
  width: 90%;
  margin: 0 auto;
}

.details p {
  text-align: center;
  margin-top: 1rem;
}

p {
  text-align: justify;
}

.ingredients {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  list-style: none;
  text-align: start;
}

#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Queries */

/* Laptops and desktops with a minimum width of 1024px: */
@media only screen and (max-width: 1319px) {
  .allOptions {
    scale: 80%;
  }

  .meal-category,
  .category-country {
    margin-right: 1rem;
  }

  .generate-content {
    grid-template-columns: 1fr 1fr;
  }
}

/* Tablets with a maximum width of 1023px: */
/* @media only screen and (max-width: 1023px) {
  .ingredientsList {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
} */

/* Mobile devices with a maximum width of 767px: */
@media only screen and (max-width: 746px) {
  .allOptions {
    flex-direction: column;
  }
  .allOptions a {
    width: 45%;
    margin: 0.7rem auto;
  }

  .generate-content {
    grid-template-columns: 1fr;

    width: 75%;
    margin: 0 auto;
  }
}

/* Small mobile devices with a maximum width of 479px: */
@media only screen and (max-width: 375px) {
  .generate-content {
    grid-template-columns: 1fr;

    width: 95%;
    margin: 0 auto;
  }
}
